body {
	background-color: #cccccc !important;
}

.logo-bo {
	left: 3px;
	margin: 0 30px 0 0;
	position: relative;
	top: 3px;
}

.logout-txt-bo {
	color: #FFFFFF;
}

.container {
	top: 100px;
	position: relative;
}

.menu-level-1 {
	margin: 0 35px 0 0;
}


/* OFERTA */

.titulo-oferta {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

footer.container {
	padding: 0 0 0 30px;
}

/* PAGINACIÓN */
div.pagination {
	display: inline-block;
	float: right;
	margin: 15px 0;
	padding: 0;
}
div.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
div.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
div.pagination a.active {
	background-color: #3378B4;
	color: white;
}
div.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* OFERTAS */

ul#offer-list li {
	list-style: none;
}